/* Font google */
/* .nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
  } */
  
/* General */

.debug {
    border: 1px solid red;
}


/* Utility */
:root {
    --color-white: #ffffff;
    --color-bg-color: #d9d9d9;
    --color-primary: #7c69a4;
    --color-dark-text: #4e3969;
    --color-black: #282529;
    --color-contrast: #fa961a;
    --color-icon-red: #ea5556;
    --color-icon-blue: #2871f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 10px;
}

.container-small {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px 10px;
    } */

.container{
    max-width: 640px;
        margin: 0 auto;
        padding: 20px 10px;
}


body {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
}
/* Flex */
.d-flex {
    display: flex;
}

.just-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.sp-beetween {
    justify-content: space-between;
}
/* Header */
h1 {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--color-contrast);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 60px;
    font-weight: bold;
}
/* Main */

#recipe {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 10px;
} 

main {
    background-color: #F6F5F3
}

.sweets {
    color: #D9D9D9;
    gap: 5px;
    padding-bottom: 10px;
}

h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--color-dark-text);
    padding-bottom: 10px;
}

.youtube-img {
width: 100%;
}

.list-title {
    font-weight: bold;
    padding: 0 10px 15px;
    font-size: 25px;
}

.list {
    background-color: var(--color-white);
    padding: 40px;
}

ul {
    list-style: none;
}

.list ul li {
    padding: 10px;
}

.logo {
    height: 100px;
    margin-top: 35px;
}
.logo div a {
    padding: 15px;
}

.marg-top {
    margin-top: 40px;
}
.btn {
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 26px;
    font-size: 20px;
    display: inline-block;
}

.title-paragraph {
    padding: 0 10px 15px;
    font-size: 30px;
}

hr {
    border: 1px solid var(--color-contrast);
    width: 85px;
    position: relative;
    left: 10px;
}

.tiramisu-img {
    width: 100%;
    padding: 40px 95px;
}

p {
    font-size: 20px;
    line-height: 45px;
}

.banner {
    display: none;
}
/* Footer */
footer {
    background-color: var(--color-primary);
    color: white;
    height: 100%;
}

footer ul {
    display: inline-flex;
    gap: 20px;
}

ul li a {
    color: white;
}

.pad-25{
    padding: 25px;
}



/******************
RESPONSIVE
 *****************/

 /* Tablet 1019x2249 */
 @media screen and (min-width:1019px) {

    .container {
        max-width: 1019px;
        margin: 0 auto;
        padding: 20px 10px;
    }

    /* HEADER */

    .just-center {
        justify-content: flex-start;
    }

    /*  MAIN */
    #recipe {
        max-width: 980px;
        margin: 0 auto;
        padding: 20px 10px;   
    }

    .tablet {
        display: flex;
        justify-content: space-between;
        gap: 35px;
        flex-wrap: wrap;
        padding-top: 15px;
    }
    
    .btn {
        display: inline-block;
        width: 150px;
        border-radius: 30px;
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    .logo div a {
        padding: 10px;
    }

    a {
        text-decoration: none;
    }

    .banner {
        display: block;
        width: 100%;
    padding-bottom: 30px;
    }

    .tiramisu-img {
        width: 40%;
        padding: 16px;
        float: left;
    }


    /* FOOTER */
    footer {
    
}
 
